@model PolyclinicProject.Domain.Common.PagingOutput<PolyclinicProject.Domain.Entities.Personal>
@using PolyclinicProject.Domain.Enum
@using PolyclinicProject.WebUI.HtmlHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Врачи";
    SortOprions currentSort = ViewBag.CurrentSort;
}
<h2> Врачи в поликлинике</h2>

<div class="wrapper">
    <div class="search-box">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" name="search" value="@ViewBag.searchQuery" class="search-text form-control" placeholder="поиск..." />
            </div>
            <button type="submit" class="btn btn-info">Поиск</button>
        </form>
    </div>
    <div class="table-responsive">

        <table class="table table-bordered table-condensed table-hover">
            <tr class="mycolor" id="link_bar">
                <th>
                    @Html.ActionLink("Наименование", "Index", Request.QueryString.ToRouteValueDictionary("sortOrder", (string)ViewBag.NameSortParam))
                    @Html.SortIdentifier(currentSort, "Name")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.FirstOrDefault().IsActive)
                </th>
                <th>
                  
                </th>
            </tr>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td> @item.UserInfo.GetShotFullName </td>
                    <td> @item.Position.Name </td>
                    <td>
                        @Html.CheckBox(item.IsActive.ToString(), item.IsActive, new { @class = "checkbox disabled" })
                    </td>
                    <td>
                        @Html.ActionLink("Перейти", "Schedules", new { id = item.Id }, new { @class = "label label-warning" })
                    </td>
                </tr>
            }
        </table>
    </div>

    <div class="btn-group pull-right pagination">
        @Html.PageLinks(Model, x => Url.Action("Index", new { page = x }))
    </div>
</div>